@import "../scss/config";

.button { //eiginlega allt tekið frá verkefni 6

  display: inline-block;

  margin: 0;
  padding: 10px 5px;
  border: 1px solid #666;
  border-radius: 2px;
  width: 100%;
  max-width: 256px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  color: #eee;
  background-color: #666;

  font-family: "Roboto Slab"; //aukafont?
  font-size: 1rem;

  text-decoration: none;
  text-align: center;

  cursor: pointer;

  transition: background-color 500ms ease;

  &:hover {
    color: #eee;
    background-color: #333;
  }

  &--normal {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 10rem;
    width: 6rem;
    font-size: 1.5rem;
  }


  &--big {
    font-size: 90px;
    background-color: blue;
    }
  }
