@import "../scss/config";

.footer {
  max-width: $max-width;
  margin: 0 auto;
  overflow: hidden; // losna við skrun stiku
  max-height: 100%;
  height: 500px;
  background-color: #000000;
  opacity: 0.5;
  background-size: cover;

  &__text {
    font-size: 1rem;
  }
}
