@import "../scss/config";

.heading {
  max-width: 100%;
  max-height: 100%;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  text-align: center;

  &__one {
    margin-top: 14vh;
    font-size: 1.5rem;
    font-weight: lighter;
  }

  &__two {
    font-size: 3rem;
  }

  &__twoo {
    font-size: 3rem;
    color: #ffffff;
  }

  &__threee {
    font-weight: lighter;
    font-size: 1.5rem;
    text-align: left;
    padding-bottom: $gutter;
  }

}

// Version 2.0 til að staðla stærðir
// Til að rugla ekki í index.html
.heading {

  &__1 {
    font-size: 4rem;

    @media (max-width: $max-width-two) {
      font-size: 3.5rem;
      text-align: left;
    }
  }

  &__2 {
    font-size: 1.5rem;
  }
}
