.myndir {
  
  &__check { //checkbox
    width: 5%;
    height: 5%;
    padding-top: 90px;
      
  }
    
  &__1 { //mynd hliðiná checkboxum
    flex: 1;
    max-width: 50%;
    max-height: 50%;
    width: 100%;
    height: 100%;
    padding-left: 0.7rem;
    padding-top: 90px;
      
    @media (max-width: 800px) { //stækkum myndina þegar hún fer niður fyrir textann
      max-width:100%;
      padding: 1rem;
    }
            
  }

}