@import "../scss/config";

.buy {

  &__inputtext {
    width: 100%;
    border: #d2d2d2 solid 2px;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
    color: rgb(0, 0, 0);
  }

  &__textbox {
    margin: 1rem 0;
  }

  &__card {
    width: 100%;
    border: #d2d2d2 solid 2px;
  }

  &__date1 {
    width: 50%;
    margin-left: 10px;
    margin-top: 0;
  }

  &__date2 {
    width: 50%;
    margin-left: 10px;
    margin-top: 0;
  }

  &__datetext1 {
    margin-right: 2rem;
  }

  &__datetext2 {
    margin-right: 3rem;
  }

  &__list {
    width: 7rem;
    font-size: 1rem;
    border: #d2d2d2 solid 2px;
  }

  &__expiredate1 {
    margin-bottom: 0;
  }

  &__expiredate2 {
    margin-top: 0;
  }

  &__gendercheckbox {
    margin: 6px 1rem 0 0;
    max-height: 100%;
  }

  &__check {
    margin: 7px 1rem 0 1rem;
  }

  &__space {
    justify-content: space-around;
  }

}
