@import "scss/config";

.footer {
  height: 250px;
  max-height: 100%;
  overflow: hidden; // losna við skrun stiku
  background-color: #333;
  background-size: cover;

  &__content {
    max-width: $max-width;
    padding-top: $gutter;
    padding-bottom: ($gutter * 2);
    margin: 0 auto;
    border-bottom: 1px solid #fff;
  }

  &__text {
    font-size: 1rem;
    color: #fff;
    text-align: center;
  }

  &__textbot {
    font-size: 1rem;
    color: #696969;
    text-align: center;
  }
}
