@import "scss/config";

.forsida {
  display: flex;
  flex-direction: row;

  &__slagordflex {
    margin: $gutter * 5 0 $gutter * 10;
    @media (max-width: 600px) { //lóðrétt þegar viewport er minna en 600px
      flex-direction: column;
    }

  }

  &__slagord { //slagorðin koma lóðrétt
    flex: 1;
    max-width: 100%;
    flex-direction: column;
  }

  &__checkogtext { //check og textinn er lárétt
    padding-top: $gutter * 1.5;
    flex-direction: row;
    @media (max-width: 800px) {
      padding: 0;
    }
  }

  &__text { //textinn lóðrétt flex
    padding-top: 90px;
    padding-right: 12px;
    font-size: 1rem;
    flex-direction: column;
  }

  &__profilemyndir { //container fyrir allt profiledót
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__profileflex { //container fyrir hvert og eitt profiledót. Flex element í profilemyndir.
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: $gutter * 3;
    align-items: center;
    flex-direction: column;
    border-collapse: collapse;
    flex: 1;
  }

  &__profiletexti {
    position: relative;
    max-width: 95%;
    min-height: 180px;
    max-height: 180px;
    box-sizing: border-box;
    text-align: center;
    flex: 1;
    flex-direction: column;

    @media (max-width: 600px) {
      min-height: 140px;
      max-height: 140px;
    }

    @media (min-width: 680px) { //svo sé ekki of mikið bil og clumpist ekki
      min-height: 140px;
      max-height: 140px;
    }
  }

  &__bida {
    margin: auto;
    flex-direction: column;
  }
}

.p { //texti fyrir neðan profilemyndir
  &__italic {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;

    @media (max-width: 600px) { //bara uppá útlitið
      max-width: 300px;
    }

    &__2 {
      margin-top: 20px;
    }
  }

  &__nafn {
    position: absolute;
    bottom: $gutter * 1.2; //20px fyrir ofan botninn
    width: 100%;
    font-weight: bold;
    text-align: center;

  }

  &__askrift {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
  }
}
