@import "scss/config";

.myndir {
  &__check { //checkbox
    width: 5%;
    height: 5%;
    padding-top: 90px;

  }

  &__1 { //mynd hliðiná checkboxum
    flex: 1;
    width: 100%;
    min-width: 1px;
    max-width: 600px;
    height: 100%;
    min-height: 550px;
    max-height: 600px;
    padding-top: 90px;
    padding-left: 0.7rem;
    object-fit: cover; //svo það teygist ekki á myndinni í mjög stóru viewporti

    @media (max-width: 600px) { //stækkum myndina þegar hún fer niður fyrir textann
      max-width: 100%;
      min-height: 1px;
      padding: 1rem;
      margin-top: $gutter;
    }
  }

  &__profilemynd {
    display: block;
    width: 100%;
    min-width: 1%;
    max-width: 80%;
    height: 100%;
    min-height: 1%;
    box-sizing: border-box;
    border-radius: 50%; //hringur
    flex: 1;

    @media (max-width: 600px) {
      min-width: 220px;
      max-width: 220px;
    }
  }
}
