@import "scss/config";

.quote {
  float: right;
  margin-top: ($gutter * 2);
  margin-bottom: ($gutter * 2);
  margin-left: $gutter;
  line-height: 1.5;

  @media (max-width: $max-width-two) {
    margin: 0;
  }

  &__header {
    padding: 0 $gutter;
    font-size: 1.5rem;
    font-style: italic;
  }

  &__footer {
    padding: 0 $gutter;
    margin: $gutter 0;
  }
}
