@import "../scss/config";

.title {
  margin: 0 auto;
  max-width: $max-width;

  &--one {
    color: #ffffff;
    display: flex;
    margin-bottom: ($gutter * 10); // row: margin-bottom hefur ekki áhrif
    margin-top: ($gutter * 9); // -1 gutter út af row: margin-top

    @media (max-width: $max-width-two) {
      justify-content: center;
    }

    @media (max-width: $max-width-three) {
      padding-left: $gutter;
      word-break: break-word;
    }
  }

  &--two {
    display: flex;
    margin-top: ($gutter * 3); // + row frá header = gutter * 4
  }

  &--onee {
    color: #ffffff;
    display: flex;
    margin-bottom: ($gutter * 10); // row: margin-bottom hefur ekki áhrif
    margin-top: ($gutter * 9); // -1 gutter út af row: margin-top
  }
}
